version: "3.9"

services:

  backend:
    build: ./backend
    container_name: fastapi_backend
    environment:
      DATABASE_URL: ${DATABASE_URL}
    expose:
      - "8000"
    depends_on:
      - db
    networks:
      - app_net

  frontend:
    build: ./frontend
    container_name: vite_frontend
    depends_on:
      - backend
    networks:
      - app_net

  nginx:
    image: nginx:stable
    container_name: nginx_app
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/var/www/frontend
    depends_on:
      - backend
      - frontend
    networks:
      - app_net

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    secrets:
      - db_user
      - db_password
      - db_name
    environment:
      POSTGRES_USER_FILE: /run/secrets/db_user
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_DB_FILE: /run/secrets/db_name
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_net

networks:
  app_net:

volumes:
  postgres_data:

secrets:
  db_user:
    file: ./secrets/db_user
  db_password:
    file: ./secrets/db_password
  db_name:
    file: ./secrets/db_name
